 body {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    background-color:   #fafafa; 
}

html{
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

div.home-page .btn {
    float: right;
    margin-top: -3rem;
    color: #f16821;
    border: 1px solid #f16821;
    outline: none;
    font-size: 18px;
}

nav {
    background-color: #fafafa;;
    border: 1rem solid #B7AC44;
    border-bottom: none;
    list-style: none;
}
@media only screen and (min-width: 810px) {
    nav i.fa-bars {display: none;}
    nav div.big-nav {
        width: 90%;
        align-items: center;
        margin-top: 10px;
        display: flex;
        font-weight: bold;
    }
    nav div.big-nav ul a {
        color: #000000;
    }
    nav div.big-nav ul a:hover {
        color: #FF7800;
    }
    nav div.big-nav ul a li {
        display: inline;
        padding: 15px 5px;
        
    }
    nav div.big-nav div {
        display: inline;
        margin-left: auto;
        padding: 10px;
    }
    nav div.big-nav div a {
        padding: 8px 20px;
        color: #000000;
    }
    nav div.big-nav div a:hover {
        color: #FF7800;
        text-decoration: none;
    }
    nav div.big-nav div a:last-child {
        border-radius: 4px;
        border: 1.5px solid #FF7800;
        color: #FF7800;
        font-weight: 600;
    }
    nav div.big-nav div a:last-child:hover {
        background-color: #FF7800;
        color: #ffffff;
    }
    nav div.small-nav {display: none;}
    }

    nav {
    height: 10vh;
    background-color: #E5E5E5;
    }
    nav figure {
    width: 5%;
    }
    nav figure img {
    width: 100%;
    }
    nav i.fa-bars {
    font-size: 2.5em;
    margin-left: auto;
    padding: 10px 20px;
    }
    nav div.small-nav {
    text-align: center;
    background-color: rgba(8, 8, 8, 0.7);
    width: 100%;
    position: absolute;
    top: 10vh;
    z-index: 1;
    }
    nav div.small-nav a {
    padding: 10px;
    display: block;
    color: #ffffff;
    }
    nav div.small-nav a:hover {
    color: #FF7800;
    }

div.home-page .btn:hover {
    background-color: #f16821;
        color: #ffffff;
}

div#why-spendless, div#spendless-img-container {
   margin-top: 1rem; 
}

section.main-container h3 {
    color: #a8943d;
    Font-size: 30px;
    letter-spacing: 0.1rem; 
    line-height: 3rem;
}

section.main-container .spendless__text h3 {
    color:   #343434; 
    text-transform: uppercase;
}

.spendless__text span {
    border-bottom: 2px solid  #a8943d;
   
}

section.main-container p {
    color:  #343434;
    font-size: 22px;
    line-height: 40px;
    letter-spacing: 1px;
}

.spendless-img {
    width: 90%;
    margin-left: -1rem;
}

#support li {
    padding: 1rem 0 0 1.2rem;
    font-size: 22px;
    color: #343434;
    line-height: 38px;
    letter-spacing: 1px;
    width: 90%;
}

#support ul li {
    font-style: italic;
    font-size: 20px;
}

#support ul li:hover {
  color: #a8943d;
}

div.spendless__text {
  width: 100%;
  margin: auto;
}

div.spendless__text p {
    width: 90%;
}

 div#how-it-works-img-container, div#how-it-works {
  margin-top: 4%;
}

div.how-it-works__text {
    width: 100%;
    margin: auto;
    padding-left: 5%;
}


div.how-it-works__text p {
    width: 80%;
}

.how-it-works-img {
    width: 80%;
}

div#support, div#support-img-container {
    margin-top: 4%;
    padding-left: 5%;
}

.support-img{
    margin-left: -23%;
}


section.main-container h4,  section.main-container h5 {
    font-size: 22px;
    padding-left: 8px;
    letter-spacing: 0.1rem; 
    line-height: 3rem;
}

section.main-container hr {
    width: 90%;
    background-color: #a8943d;
}


@media only screen and (max-width: 800px) {
    .how-it-works-img {
      width: 90%;
      margin-left: 22%;
    }
    .support-img {
        margin-left: 1%;
    }
   
}

@media only screen and (max-width: 600px)  {
    .how-it-works-img {
        width: 80%;
        margin-left: 3%;
      }

    div.spendless__text {
        margin-left: 4%;
    }
}


   
   




