body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
/* #signup {
    background: #F0F0F0;
} */
.modal-header {
    background: #434450;
}
.modal-header h5 {
    text-align: center;
}
.modal-title {
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-transform: capitalize;
}
.modal-body{
    background-color: #F0F0F0;
}
.modal-footer {
    background-color: #F0F0F0;
}
.form-control{
    background-color: #FFFFFF;
    border: 0.5px solid #CCCCCC;
    box-sizing: border-box;
    border: none;
}
#signup-btn {
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.15em;
    color: #FFFFFF; 
    background-color: #FF7800;
}
.word1 h6{
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #5F5F5F;
}
.word2 h6 {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    color: #5F5F5F;
}

/***
STYLING THE BLOG PAGE
*****/
.header h2 {
    margin-top: 30px;
    font-family: Nunito;
    font-style: bold;
    font-weight: 800;
    font-size: 50px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #FF7800;
    text-transform: capitalize;
    text-align: center;

}

.header p {
    margin-top: 20px;
    margin-bottom: 50px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: #FF7800;
    text-transform: none;
    text-justify: auto;
    text-align: center;
}

.card {
    width: 95%;
    max-width: 800px;
    margin: auto;
    background: #fff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    border-radius: 25px;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 2px solid #FF7800;
}
.card a {
    text-decoration: none;
    background-color: #FF7800;
    color: #FFFFFF;
    border-radius: 50px;
    padding: 1em 1.5em;
    text-align: right;
    font-weight: bold;
}
.card a:hover{
    text-decoration: none;
    background-color: #FFFFFF;
    color: #FF7800;
    border-radius: 50px;
    border: 2px solid #FF7800;
    padding: 1em 1.5em;
    text-align: right;
    font-weight: bold;
}